doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/users.js')
  body
    .alert.alert-success(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;
      |  You have been signed in successfully!
    .alert.alert-danger(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;
      |  You have been a failure!

    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#lobby') Liar's Dice
        ul.nav.navbar-nav.navbar-right
          li
            p.name= 'Welcome, ' + user_info.display_name + '#' + user_info.id
          if(user_info.registered)
            li
              a.logout(href='/logout')
                span.glyphicon.glyphicon-log-out
                |  Log Out
          else
            form
              .form-group
                li
                  input.email_input.form-control(placeholder='email')
                li
                  input.password_input.form-control(placeholder='password' type='password')
                li
                  a.login(href='#login')
                    span.glyphicon.glyphicon-log-in
                    |  Login
                li
                  a.signup(href='#signup')
                    span.glyphicon.glyphicon-user
                    |  Sign Up
                  button.login_button.btn.navbar-right(type='hidden') Send
    .container#user-listing
      h1   User Listing

      a.data(href='#') Send Data 

      table
        thead
          tr
            th Room 
            th Leader 
        tbody
         each room in rooms_info
            tr
              td 
                a(href='/room/'+room.id+'/enter')= room.name + '#' + room.id
              td= room.master_user_display_name + '#' + room.master_user_id
      br
      br
    .container#lobby-chat
      h1    Lobby Chat
      form
        .form-group
          input.room_id(type='hidden' value='0')            
          ul.chat_area
            td
              p.message= 'Hello'
          input.chat_input_text.form-control(placeholder='Enter chat message here')
          br
          button.chat_input_button.btn.navbar-right(type='submit') Send